form{
  margin-top:10%;
}

.mat-card
{
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.mat-card-header
{
  text-align: center;
  justify-content: center;
}
